In [ ]:
# !pip install xgboost

In [21]:
from pycaret.classification import *
import pandas as pd
import numpy as np
import warnings
import gc
# from xgboost import *
# from category_encoders import *
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import *
from sklearn.model_selection import *
from sklearn.metrics import *
warnings.filterwarnings('ignore')

In [ ]:
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# # from tensorflow.keras.layers import Dense, Dropout, LSTM
# from keras.layers import CuDNNLSTM
# import seaborn as sns
# import sklearn
# import sklearn.utils
# from sklearn.preprocessing import LabelEncoder
# from sklearn.model_selection import *
# from sklearn.metrics import *
# import matplotlib.pyplot as plt
# from sklearn.preprocessing import *

# %matplotlib inline

In [7]:
data = pd.read_csv("C:\\Users\\Eurus\\Desktop\\B.Sc_Project\\raw_data_150x150.csv")
data

,0,1,2,3,4,5,6,7,8,9,...,51190,51191,51192,51193,51194,51195,51196,51197,51198,51199
0,0.0,99.29232,0.0,0.0,0.0,63.846703,0.0,16.172410,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,174.48040,0.0,0.0,0.0,131.203110,0.0,24.570776,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,153.51169,0.0,0.0,0.0,114.990200,0.0,25.071724,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,136.41565,0.0,0.0,0.0,103.438250,0.0,24.879120,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,100.91127,0.0,0.0,0.0,70.508690,0.0,19.338598,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14598,0.0,186.57259,0.0,0.0,0.0,116.851710,0.0,27.195948,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14599,0.0,139.03630,0.0,0.0,0.0,108.985360,0.0,22.759730,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14600,0.0,149.57254,0.0,0.0,0.0,140.181350,0.0,24.817797,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14601,0.0,167.36278,0.0,0.0,0.0,118.477360,0.0,25.212753,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14602,0.0,121.54206,0.0,0.0,0.0,97.542206,0.0,19.302204,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# data.describe()

In [8]:
data.insert(51200 , "Truth", "Any")

In [ ]:
# data.drop(['Truth'], axis=1, inplace=True)

In [9]:
data

,0,1,2,3,4,5,6,7,8,9,...,51191,51192,51193,51194,51195,51196,51197,51198,51199,Truth
0,0.0,99.29232,0.0,0.0,0.0,63.846703,0.0,16.172410,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
1,0.0,174.48040,0.0,0.0,0.0,131.203110,0.0,24.570776,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
2,0.0,153.51169,0.0,0.0,0.0,114.990200,0.0,25.071724,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
3,0.0,136.41565,0.0,0.0,0.0,103.438250,0.0,24.879120,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
4,0.0,100.91127,0.0,0.0,0.0,70.508690,0.0,19.338598,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14598,0.0,186.57259,0.0,0.0,0.0,116.851710,0.0,27.195948,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
14599,0.0,139.03630,0.0,0.0,0.0,108.985360,0.0,22.759730,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
14600,0.0,149.57254,0.0,0.0,0.0,140.181350,0.0,24.817797,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
14601,0.0,167.36278,0.0,0.0,0.0,118.477360,0.0,25.212753,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any
14602,0.0,121.54206,0.0,0.0,0.0,97.542206,0.0,19.302204,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Any

In [10]:
for i in np.arange(0,4907):
    data['Truth'].iloc[i] = str('GT')
#     0 : GT

In [11]:
for i in np.arange(4907,9749):
    data['Truth'].iloc[i] = str('PT')
#     1 : MT

In [12]:
for i in np.arange(9749,14603):
    data['Truth'].iloc[i] = str('MT')
#     2 : GT

In [17]:
# data['Truth'] = data['Truth'].astype(str)

In [18]:
# data.info()

In [19]:
data.dtypes

0        float64
1        float64
2        float64
3        float64
4        float64
          ...
51196    float64
51197    float64
51198    float64
51199    float64
Truth     object
Length: 51201, dtype: object

In [14]:
data

,0,1,2,3,4,5,6,7,8,9,...,51191,51192,51193,51194,51195,51196,51197,51198,51199,Truth
0,0.0,99.29232,0.0,0.0,0.0,63.846703,0.0,16.172410,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GT
1,0.0,174.48040,0.0,0.0,0.0,131.203110,0.0,24.570776,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GT
2,0.0,153.51169,0.0,0.0,0.0,114.990200,0.0,25.071724,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GT
3,0.0,136.41565,0.0,0.0,0.0,103.438250,0.0,24.879120,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GT
4,0.0,100.91127,0.0,0.0,0.0,70.508690,0.0,19.338598,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14598,0.0,186.57259,0.0,0.0,0.0,116.851710,0.0,27.195948,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MT
14599,0.0,139.03630,0.0,0.0,0.0,108.985360,0.0,22.759730,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MT
14600,0.0,149.57254,0.0,0.0,0.0,140.181350,0.0,24.817797,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MT
14601,0.0,167.36278,0.0,0.0,0.0,118.477360,0.0,25.212753,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MT
14602,0.0,121.54206,0.0,0.0,0.0,97.542206,0.0,19.302204,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MT

In [ ]:
# data.isnull().sum().sort_values()

In [ ]:
# data.describe()
# gc.collect()

In [ ]:
# len(data.columns)

In [ ]:
# dropped_values = []
# for index in data.columns:
#     if abs(data[index].corr(data['Truth'])) < 0.30:
#         data.drop([index], inplace=True, axis=1)
#         dropped_values.append(index)
#         progress = ((100*int(index))/51231)
#         print(f'column {index} dropped, %{progress} completed ...\n')

In [ ]:
# dropped_values = []
# for index in data.columns:
#     if abs(data[index].corr(data['Truth'])) < 0.50:
#         data.drop([index], inplace=True, axis=1)
#         dropped_values.append(index)
#         print(f'column {index} dropped ...\n')

In [ ]:
# data

In [ ]:
# del data
# gc.collect()

In [ ]:
# import csv

# with open('dropped_values_byCorr.csv', 'w', newline='') as File:
#     write = csv.writer(File)
#     write.writerow(dropped_values)

In [ ]:
# data.to_csv("cleaned_by_low_corr.csv", index=False)

# A little bit of Viz

In [ ]:
# data.columns[:2]

In [ ]:
# !pip list

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# i = 1
# plt.figure()
# fig, ax = plt.subplots(20, 5,figsize=(36, 72))
# plt.rcParams['axes.facecolor'] = 'black'
# for feature in data.columns[0:100]:
#     plt.subplot(20, 5,i)
#     sns.histplot(data[feature],color="red", kde=True,bins=100, label=feature)
#     plt.xlabel(feature, fontsize=16);
#     i += 1
# plt.show()

In [ ]:
# !pip install seaborn

In [ ]:
# !python.exe -m pip install --upgrade pip

In [22]:
classifier = setup(data = data ,
                   target = 'Truth' ,
                   session_id = 100 ,
                   n_jobs=-1,
                   use_gpu=True,
                   fold=10)

In [ ]:
compare_models();

Initiated  . . . . . . . . . . . . . . . . . .                  10:46:05
Status     . . . . . . . . . . . . . . . . . .          Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Classifier

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

In [ ]:
# data.info()

In [ ]:
# Y = pd.DataFrame(data['Truth'], columns=['Truth'])
# data.drop(['Truth'], axis=1, inplace=True)
# data.head()

In [ ]:
# Y

In [ ]:
# cluster = setup(data, session_id = 1, n_jobs = -1, use_gpu=True)

In [ ]:
# kmeans = create_model('kmeans',num_clusters=3)

In [ ]:
# dbscan = create_model('dbscan',num_clusters=3)

In [ ]:
# tuned_kmeans = tune_model(model = 'kmeans', supervised_target = 'Truth', supervised_type='classification', supervised_estimator ='xgboost', optimize='accuracy')

In [ ]:
# plot_model(kmeans, plot = 'cluster')

In [ ]:
# plot_model(kmeans, plot = 'elbow')

In [ ]:
# plot_model(kmeans, plot = 'distribution')

In [ ]:
# evaluate_model(kmeans)

In [ ]:
# kmeans_df = assign_model(kmeans)
# kmeans_df

In [ ]:
# y = pd.DataFrame(data['Truth'], columns=['Truth'])
# y

In [ ]:
# del data
# gc.collect()

In [ ]:
# temp = pd.concat([kmeans_df,y], axis=1)

In [ ]:
# temp.to_csv("KNN_predictions.csv",index=False)

In [ ]:
# now we need to calculate the TP,TN,FP,FN

In [ ]:
# df = pd.read_csv("KNN_predictions.csv")
# df.head()

In [ ]:
# from sklearn.metrics import *

In [ ]:
# df['Cluster'] = df['Cluster'].map(lambda x: x.lstrip('Cluster'))
# df['Cluster'] = df['Cluster'].astype('int')
# df.info()

In [ ]:
# df.head()

In [ ]:
# accuracy_score(df['Truth'],df['Cluster'])

In [ ]:
data

In [ ]:
Train_target = pd.DataFrame(data['Truth'], columns=['Truth'])

In [ ]:
data.drop(['Truth'], axis=1, inplace=True)
Train_data = data

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(Train_data,Train_target, test_size = 0.25, random_state = 0,shuffle=True)

In [ ]:
del data
gc.collect()

In [ ]:
del Train_target, Train_data
gc.collect()

# Hyper Params Tuning

In [ ]:
test_model = XGBClassifier()

In [ ]:
# parameters = [{'max_depth': [np.arange(3,9,1)],
#                'n_estimators': [np.arange(100,500,10000)],
#                'subsample': [np.arange(0.1,1.0,0.1)],
#                'eta': [np.arange(0.1,1.0,0.1)],
#                'colsample_bytree': [np.arange(0.1,0.5,0.1)],
#                'colsample_bylevel': [np.arange(0.1,0.7,0.1)],
#                'min_child_weight': [np.arange(0.0,60,1)],
#                'reg_lambda': [np.arange(10,90,5)],
#                'reg_alpha': [np.arange(0.00,0.2,0.001)],
#                'gamma': [np.arange(0,9,0.1)],
#                'booster': ['gbtree'],
#                'eval_metric': ['auc'],
#                'tree_method': ['gpu_hist'],
#                'predictor': ['gpu_predictor']}]

In [ ]:
# grid_search_model = GridSearchCV(estimator = test_model,
#                            param_grid = parameters,
#                            scoring = 'accuracy',
#                            cv = 5,
#                            n_jobs = -1,
#                            verbose=1)

In [ ]:
# grid_search_model.fit(X_train, y_train)

In [ ]:
params = {
    'max_depth': 6,
    'n_estimators': 9500,
    'subsample': 0.7,
    'colsample_bytree': 0.2,
    'colsample_bylevel': 0.6,
    'min_child_weight': 56,
    'reg_lambda': 75,
    'reg_alpha': 0.12,
    'gamma': 0.64,
    'booster': 'gbtree',
    'eval_metric': 'auc',
    'tree_method': 'gpu_hist',
    'predictor': 'gpu_predictor',
    'use_label_encoder': False
}

In [ ]:
Final_xgb = XGBClassifier(**params).fit(X_train, y_train)
gc.collect()

In [ ]:
test_preds = Final_xgb.predict(X_test)
test_preds

In [ ]:
accuracy_score(y_test, test_preds)

In [ ]:
# Forget it, Nothing higher than 77% Accuaracy

# Handfull of questions

In [ ]:
# Silhouette : ???
"""Silhouette Coefficient:
Silhouette Coefficient or silhouette score is a metric used to calculate the goodness of a clustering technique. Its value ranges from -1 to 1.

1: Means clusters are well apart from each other and clearly distinguished.

0: Means clusters are indifferent, or we can say that the distance between clusters is not significant.

-1: Means clusters are assigned in the wrong way.

Silhouette Score = (b-a)/max(a,b)

where

a= average intra-cluster distance i.e the average distance between each point within a cluster.

b= average inter-cluster distance i.e the average distance between all clusters.
"""
########################################################################################
# Calinski-Harabasz : ???
"""The Calinski-Harabasz index (also known as the Variance Ratio Criterion) is calculated as a ratio of the sum of inter-cluster dispersion

and the sum of intra-cluster dispersion for all clusters (where the dispersion is the sum of squared distances).

A high CH means better clustering since observations in each cluster are closer together (more dense),

while clusters themselves are further away from each other (well separated). 

The Calinski-Harabasz index is defined as the sum of inter-cluster dispersion and the sum of intra-cluster dispersion for all clusters."""

########################################################################################
# Davies-Bouldin : ???
# Davies-Bouldin : ???
# Rand Index : ???
# Completeness : ???